<img id="home" src="assets/P1.png" style="height: 100%;" class="img-fluid" alt="Responsive image">

<h1 @fade>OBJECTIVE</h1>
<p>A creative and resourceful individual who wants to make an impact that is significant <br>
  for the success of the company as she strives for career growth through pursuit of <br>
  knowledge and skills through continous learning within the organization. <br>
  </p>

<h1 id="about" @fade>PERSONAL INFORMATION</h1>
<ul class="info">
    <li @listAnimation >Birthdate: June 25, 2000</li>
    <li>Nationality: Filipino</li>
    <li>Religion:Catholic</li>
    <li>Civil Status: Single</li>
    <li>Address:5962 Moon St. Dona Anicia, Dau, Mabalacat Pampanga</li>
  </ul>

