<!--CONTACT PAGE-->
<!-- Footer -->
<img @fadeInOut id="home" src="assets/P1.png" style="height: 100%;" class="img-fluid" alt="Responsive image">
<footer style="background-color: rgb(36, 36, 36); margin-top: 3%;" class="page-footer font-small ">

    <div id="contacts">
        <br>
        <h4 @fade >Contact Information</h4>
        <h6 @fade style=" margin-top: 1.5%;" >Cellphone No.: 09494611639</h6>
        <h6 @fade>Working Email: marjorievbermillo@gmail.com</h6>
        <h6 @fade>Adress: Mabalacat, Pampanga, Philippines</h6>
        <div @fade   style="color: silver; margin-left: 10%;margin-bottom: 3%;">Jobs180 Link:
            <a href="http://marjoriebermillo.jobs180.com/"> marjoriebermillo.jobs180.com</a><br>

          </div>

        
    </div>
    <!-- Copyright -->
    <div style="color: silver; text-align: center;">© 2022 Copyright
      <a> MarjorieBermillo</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->