
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
            <img id="home" src="assets/pic7.png" style="height: 10%;" class="img-fluid" alt="Responsive image">

  </div>
        <div class="col-md-6 align-self-center">
        <h1>404</h1>
          <h2>UH OH! You're lost.</h2>
          <p>The page you are looking for does not exist.
            How you got here is a mystery. But you can click on the navigation bar above or click the button below
            to go back to the homepage.
          </p>
          <button class="nav-link active" routerLink="../personal-information" >Click Here</button>
        </div>
      </div>
    </div>
  </main>