<img id="home" src="assets/P1.png" style="height: 100%;" class="img-fluid" alt="Responsive image">
<h1 id="skills" @fade>SKILLS</h1><br>

<h3>Web Design</h3>

<div @fadeInOut style=" margin-left: 10%; margin-right: 10%;" class="progress">
    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
  </div>


<h3>Video Editing</h3>
<div @fadeInOut style=" margin-left: 10%; margin-right: 10%;" class="progress">
    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%"></div>
  </div>

<h3>Graphics Design</h3>
<div @fadeInOut style=" margin-left: 10%; margin-right: 10%;" class="progress">
    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
  </div>

<h3>Ditital Art</h3>
<div @fadeInOut style=" margin-left: 10%; margin-right: 10%;" class="progress">
    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
  </div>

<h3>Traditional Art</h3>
<div @fadeInOut style=" margin-left: 10%; margin-right: 10%;" class="progress">
    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
  </div><br>


<div @fadeInOut class="accordion" id="accordionPanelsStayOpenExample" style="margin-left: 10%; margin-right: 10%; margin-top: 2%;">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button style="text-align: center;" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Soft Skills
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
            <div class="train">
                <ul @fadeList class="list-group list-group-flush">
                    <li class="list-group-item" style="text-align: center;">Computer Profieciency</li>
                    <li class="list-group-item" style="text-align: center;">Communication Skills</li>
                    <li class="list-group-item" style="text-align: center;">Time Management</li>
                    <li class="list-group-item" style="text-align: center;">Creativity</li>
                    <li class="list-group-item" style="text-align: center;">Detail-Oriented</li>
                    <li class="list-group-item" style="text-align: center;">Adaptability</li>
                    <li class="list-group-item" style="text-align: center;">Decision Making</li>
                  </ul> 
            </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Educational Background
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
            <div class="educ">
                <div class="train">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="text-align: center;">Elementary Graduate<br>
                            7th Honorable Mention<br>
                            Talimundok Elementary School, Mabalacat City<br>
                            April 2013</li>

                        <li class="list-group-item" style="text-align: center;">Highschool Graduate<br>
                            With Distinction<br>
                            Holy Angel University, Angeles City<br>
                            April 2017</li>

                        <li class="list-group-item" style="text-align: center;">Senior Highschool Graduate<br>
                            With High Honors<br>
                            Holy Angel University, Angeles City<br>
                            April 2019</li>

                        <li class="list-group-item" style="text-align: center;">College Student<br>
                            School of Computing Major in Web Development<br>
                            Holy Angel University, Angeles City<br>
                            January- present</li>
                        
                      </ul>
            </div>
        </div>
      </div>
    </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          Trainings
        </button>
      </h2>

      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
            <div class="train">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="text-align: center;">The Basics of Visual: A Guide to Getting Started in UI</li>
                    <li class="list-group-item" style="text-align: center;">Building Blocks of the Web: Introduction to HTML</li>
                    <li class="list-group-item" style="text-align: center;">Philippine ICT Talent Online Summit 2020 & Learn on Program Launching</li>
                    <li class="list-group-item" style="text-align: center;">1st EMC National Conference (EMC MADCon2019): Multimedia Arts and Design</li>
                    <li class="list-group-item" style="text-align: center;">Effective Student Servant Leadership</li>
                    <li class="list-group-item" style="text-align: center;">MIND MATTERS: THE IMPORTANCE OF MENTAL HEALTH TO LEADERSHIP" A Webinar for Student and Aspiring Leaders</li>
                    <li class="list-group-item" style="text-align: center;">DEFINING ONESELF: Developing the Youth by Envisioning a Better You</li>
                  </ul> 
            </div>
      </div> 
    </div>
  </div>
  <div> <br> <br></div>
