<!--PORTOFOLIO PAGE-->
<img id="home" src="assets/P1.png" style="height: 100%;" class="img-fluid" alt="Responsive image">
<h1 id="portfolio" @fade1>PORTFOLIO</h1>

<!--NavBAR-->
<h2 id="1" style="text-align: center; margin-top: 2%;" @fade>Line Art</h2>
<nav style="text-align: center; margin-top: 2%;" class=" navbar-light bg-white">
    <div class="container" id="object">
      <a class="navbar-brand"  style="margin-left: 1%;">Line Art&ensp;|</a>
      <a class="navbar-brand" >Watercolor Art&ensp;|</a>
      <a class="navbar-brand" >Vector Art&ensp;|</a>
      <a class="navbar-brand" >Digital Art&ensp;|</a>
      <a class="navbar-brand" >Graphics Design&ensp;</a>
    </div>
  </nav>
<!--NavBar-->

<!-- Gallery Line Art -->
<div @fadeInOut  class="row" style="margin-top:3%; margin-right: 10%; margin-left: 10%;">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
      src="assets/D3.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Line Art"
      />
  
      <img
        src="assets/D6.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Line Art"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="assets/D7.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Line Art"
      />
  
      <img
        src="assets/D4.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Line Art"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="assets/D5.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Line Art"
      />
  
      <img
        src="assets/D1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Line Art"
      />
    </div>
  </div>
  <!-- Gallery -->

<!-- Gallery Water Color Art -->
<h2 @fade id="2" style="text-align: center; margin-top: 2%;">Watercolor Art</h2>
<!--NavBAR-->

<nav style="text-align: center; margin-top: 2%;" class=" navbar-light bg-white">
    <div class="container" id="object">
      <a class="navbar-brand" style="margin-left: 1%;">Line Art&ensp;|</a>
      <a class="navbar-brand" >Watercolor Art&ensp;|</a>
      <a class="navbar-brand" >Vector Art&ensp;|</a>
      <a class="navbar-brand" >Digital Art&ensp;|</a>
      <a class="navbar-brand" >Graphics Design&ensp;</a>
    </div>
  </nav>
<!--NavBar-->
<div @fadeInOut class="row" style="margin-top:3%; margin-right: 10%; margin-left: 10%;">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
      src="assets/W1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
  
      <img
        src="assets/W2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />

      <img
      src="assets/W7.JPG"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="assets/W3.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
  
      <img
        src="assets/W4.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />

      <img
      src="assets/W8.JPG"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />

    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="assets/W5.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="assets/W6.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />

      <img
      src="assets/W9.JPG"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    </div>

  </div>
  <!-- Gallery -->

  <!-- Gallery Vector Art -->
<h2 @fade id="3" style="text-align: center; margin-top: 2%;">Vector Art</h2>
<!--NavBAR-->

<nav style="text-align: center; margin-top: 2%;" class=" navbar-light bg-white">
    <div class="container" id="object">
      <a class="navbar-brand" style="margin-left: 1%;">Line Art&ensp;|</a>
      <a class="navbar-brand">Watercolor Art&ensp;|</a>
      <a class="navbar-brand" >Vector Art&ensp;|</a>
      <a class="navbar-brand" >Digital Art&ensp;|</a>
      <a class="navbar-brand" >Graphics Design&ensp;</a>
    </div>
  </nav>
<!--NavBar-->
<div @fadeInOut class="row" style="margin-top:3%; margin-right: 10%; margin-left: 10%;">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
      src="assets/V3.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
  
      <img
        src="assets/V5.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="assets/V7.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
  
      <img
        src="assets/V4.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="assets/V1.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="assets/V6.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
  </div>
  <!-- Gallery -->

   <!-- Gallery Digital Art -->
<h2 @fade id="4" style="text-align: center; margin-top: 2%;">Digital Art</h2>
<!--NavBAR-->

<nav style="text-align: center; margin-top: 2%;" class=" navbar-light bg-white">
    <div class="container" id="object">
      <a class="navbar-brand"  style="margin-left: 1%;">Line Art&ensp;|</a>
      <a class="navbar-brand" >Watercolor Art&ensp;|</a>
      <a class="navbar-brand" >Vector Art&ensp;|</a>
      <a class="navbar-brand" >Digital Art&ensp;|</a>
      <a class="navbar-brand" >Graphics Design&ensp;</a>
    </div>
  </nav>
<!--NavBar-->
<div @fadeInOut  class="row" style="margin-top:3%; margin-right: 10%; margin-left: 10%;">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
      src="assets/DG1.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
  
      <img
        src="assets/DG3.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="assets/DG2.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
  
      <img
        src="assets/DG5.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="assets/DG4.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="assets/DG6.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
  </div>
  <!-- Gallery -->
  
     <!-- Gallery Digital Art -->
<h2 id="5" style="text-align: center; margin-top: 2%;">Graphics</h2>
<!--NavBAR-->

<nav style="text-align: center; margin-top: 2%;" class=" navbar-light bg-white">
    <div class="container" id="object">
      <a class="navbar-brand"  style="margin-left: 1%;">Line Art&ensp;|</a>
      <a class="navbar-brand" >Watercolor Art&ensp;|</a>
      <a class="navbar-brand" >Vector Art&ensp;|</a>
      <a class="navbar-brand" >Digital Art&ensp;|</a>
      <a class="navbar-brand" >Graphics Design&ensp;</a>
    </div>
  </nav>
<!--NavBar-->

<div  class="row" style="margin-top:3%; margin-right: 10%; margin-left: 10%;">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
      src="assets/G1.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
  
      <img
        src="assets/G3.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="assets/G2.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
  
      <img
        src="assets/G5.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="assets/G4.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="assets/G6.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
  </div>
  <!-- Gallery -->
  