h1
{
    padding:0.5%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(231, 229, 229);
    background-color: rgb(78, 77, 77);
   
}
h3{
    margin-top: 1.5%;
    margin-left: 10%;
}
